.one {
    width: 100px;
    height: 100px;
    background: rgb(255, 85, 85);
    transition: all 2s;
    border-radius: 50%;
    margin: auto;
}

.two {
    width: 500px;
    height: 500px;
    background: rgb(238, 255, 85);
    transition: all 2s;
    border-radius: 50%;
    margin: auto;
}

