body {
    background-color: cornsilk;
    /* margin: 0; */
    /* width: 50%; */
    border: 2px solid black;
}
h1 {
    color:darkred;
    text-decoration: underline dashed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}
