.container {
    background-color: rgba(192, 192, 192, 0.322);
}
header div {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {font-size: 1.5em; font-weight: bold;}
h2 {font-size: 1.3em; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.logo {text-align: center;}

.row div {
    border: 1px solid #00f;
}
